
Inbox/Inbox.xcodeproj/xcuserdata/alan.xcuserdatad/xcschemes/xcschememanagement.plist

Inbox/Inbox.xcodeproj/project.xcworkspace/xcuserdata/alan.xcuserdatad/UserInterfaceState.xcuserstate

Inbox/Inbox.xcodeproj/xcuserdata/alan.xcuserdatad/xcschemes/Inbox.xcscheme
